COMPOSE_SERVICE_PREFIX=gidas_prod
COMPOSE_NETWORK=gidas_prod_network
POSTGRES_VOLUME=gidas_prod_postgres_data
POSTGRES_PORT=5432
NGINX_PORT=8080
BACKEND_ENV_FILE=.env.production
FRONTEND_ENV_FILE=.env.production
