COMPOSE_SERVICE_PREFIX=gidas_testing
COMPOSE_NETWORK=gidas_testing_network
POSTGRES_VOLUME=gidas_testing_postgres_data
POSTGRES_PORT=55433
NGINX_PORT=8080
BACKEND_ENV_FILE=.env.testing
FRONTEND_ENV_FILE=.env.testing
